In [34]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [58]:
# read in original data
data = pd.read_csv("ungroupedLabData_train.csv")

In [63]:
keep = pd.read_csv("guidelines.csv")

In [87]:
group = []
for item in list(set(data["label1"])):
    found = False
    for k in keep.values.tolist():
        if k[0] in item.lower():
            group.append([item, 1])
            found = True
    if not found:
        group.append([item, 0])

In [88]:
df = pd.DataFrame(group, columns=["event", "group"])
df

                                event  group
0                    troponin t Blood      0
1                      ntprobnp Blood      0
2                             h Blood      0
3                   hypochromia Blood      0
4    alveolar-arterial gradient Blood      0
..                                ...    ...
231           white blood cells Blood      1
232          bilirubin indirect Blood      1
233            urine appearance Urine      0
234               calcium total Blood      1
235       immature granulocytes Blood      0

[236 rows x 2 columns]

In [89]:
df = pd.DataFrame(group, columns=["event", "group"])
df

                                event  group
0                    troponin t Blood      0
1                      ntprobnp Blood      0
2                             h Blood      0
3                   hypochromia Blood      0
4    alveolar-arterial gradient Blood      0
..                                ...    ...
231           white blood cells Blood      1
232          bilirubin indirect Blood      1
233            urine appearance Urine      0
234               calcium total Blood      1
235       immature granulocytes Blood      0

[236 rows x 2 columns]

In [90]:
df.to_csv("guide.csv",index=False)

In [4]:
len(set(data["label1"]))

230

In [36]:
# 20% most common events
n = int(230*0.2)
n

46

In [37]:
freqevents = data["label1"].value_counts()[:n].index

In [40]:
groupedlist = []
for index in range(len(freqevents)):
    groupedlist.append(freqevents[index])

In [41]:
groupedlist

['glucose Blood',
 'hemoglobin Blood',
 'ph Blood',
 'calculated total co2 Blood',
 'po2 Blood',
 'base excess Blood',
 'pco2 Blood',
 'hematocrit Blood',
 'potassium whole blood Blood',
 'potassium Blood',
 'chloride Blood',
 'platelet count Blood',
 'free calcium Blood',
 'sodium Blood',
 'white blood cells Blood',
 'mchc Blood',
 'mch Blood',
 'mcv Blood',
 'red blood cells Blood',
 'rdw Blood',
 'creatinine Blood',
 'urea nitrogen Blood',
 'bicarbonate Blood',
 'anion gap Blood',
 'magnesium Blood',
 'hematocrit calculated Blood',
 'lactate Blood',
 'inr(pt) Blood',
 'pt Blood',
 'oxygen saturation Blood',
 'ptt Blood',
 'sodium whole blood Blood',
 'chloride whole blood Blood',
 'phosphate Blood',
 'calcium total Blood',
 'rdw-sd Blood',
 'estimated gfr (mdrd equation) Blood',
 'fibrinogen functional Blood',
 'l Blood',
 'i Blood',
 'h Blood',
 'temperature Blood',
 'basophils Blood',
 'neutrophils Blood',
 'monocytes Blood',
 'lymphocytes Blood']

In [55]:
group = []
for item in list(set(data["label1"])):
    if item in groupitems:
        group.append([item, 1])
    else:
        group.append([item, 0])

In [56]:
df = pd.DataFrame(group, columns=["event", "group"])
df

                                event  group
0                    troponin t Blood      0
1                      ntprobnp Blood      0
2                             h Blood      0
3                   hypochromia Blood      0
4    alveolar-arterial gradient Blood      0
..                                ...    ...
225           white blood cells Blood      1
226          bilirubin indirect Blood      0
227            urine appearance Urine      0
228               calcium total Blood      0
229       immature granulocytes Blood      0

[230 rows x 2 columns]

In [57]:
df.to_csv("filter80.csv",index=False)

In [17]:
df = pd.DataFrame(groupedlist)
df.to_csv('filterfirst20eventgroups.csv', index=False)

In [59]:
newdata = data[data["label1"].isin(list(freqevents))]

In [60]:
newdata.to_csv('filterfirst20eventdata.csv', index=False)

In [ ]:
# covers 80% of all events

In [47]:
freqevents = data["label1"].value_counts()

In [48]:
freqevents

label1
glucose Blood                       10185
hemoglobin Blood                     8403
ph Blood                             8067
calculated total co2 Blood           7045
po2 Blood                            7045
                                    ...
bite cells Blood                        1
lymphocytes Joint Fluid                 1
joint crystals shape Joint Fluid        1
rbc joint fluid Joint Fluid             1
renal epithelial cells Urine            1
Name: count, Length: 230, dtype: int64

In [50]:
freqevents = freqevents.reset_index()

In [49]:
n = sum(freqevents.values)*0.8
n

150420.0

In [51]:
freqevents.values.tolist()

[['glucose Blood', 10185],
 ['hemoglobin Blood', 8403],
 ['ph Blood', 8067],
 ['calculated total co2 Blood', 7045],
 ['po2 Blood', 7045],
 ['base excess Blood', 7045],
 ['pco2 Blood', 7045],
 ['hematocrit Blood', 6646],
 ['potassium whole blood Blood', 5835],
 ['potassium Blood', 5658],
 ['chloride Blood', 5489],
 ['platelet count Blood', 5280],
 ['free calcium Blood', 5275],
 ['sodium Blood', 5245],
 ['white blood cells Blood', 5200],
 ['mchc Blood', 5172],
 ['mch Blood', 5170],
 ['mcv Blood', 5170],
 ['red blood cells Blood', 5170],
 ['rdw Blood', 5169],
 ['creatinine Blood', 4967],
 ['urea nitrogen Blood', 4959],
 ['bicarbonate Blood', 4496],
 ['anion gap Blood', 4266],
 ['magnesium Blood', 4139],
 ['hematocrit calculated Blood', 3251],
 ['lactate Blood', 3040],
 ['inr(pt) Blood', 2985],
 ['pt Blood', 2985],
 ['oxygen saturation Blood', 2716],
 ['ptt Blood', 2681],
 ['sodium whole blood Blood', 2462],
 ['chloride whole blood Blood', 1691],
 ['phosphate Blood', 1642],
 ['calcium total Blood', 1560],
 ['rdw-sd Blood', 795],
 ['estimated gfr (mdrd equation) Blood', 777],
 ['fibrinogen functional Blood', 687],
 ['l Blood', 504],
 ['i Blood', 504],
 ['h Blood', 504],
 ['temperature Blood', 375],
 ['basophils Blood', 349],
 ['neutrophils Blood', 349],
 ['monocytes Blood', 349],
 ['lymphocytes Blood', 349],
 ['eosinophils Blood', 349],
 ['alanine aminotransferase (alt) Blood', 312],
 ['asparate aminotransferase (ast) Blood', 309],
 ['alkaline phosphatase Blood', 301],
 ['bilirubin total Blood', 301],
 ['specific gravity Urine', 294],
 ['bilirubin Urine', 294],
 ['blood Urine', 294],
 ['urobilinogen Urine', 294],
 ['glucose Urine', 294],
 ['leukocytes Urine', 294],
 ['urine color Urine', 294],
 ['protein Urine', 294],
 ['nitrite Urine', 294],
 ['ketone Urine', 294],
 ['ph Urine', 294],
 ['urine appearance Urine', 294],
 ['amylase Blood', 233],
 ['oxygen Blood', 222],
 ['lipase Blood', 221],
 ['lactate dehydrogenase (ld) Blood', 204],
 ['albumin Blood', 186],
 ['epithelial cells Urine', 184],
 ['yeast Urine', 184],
 ['bacteria Urine', 184],
 ['wbc Urine', 184],
 ['rbc Urine', 184],
 ['platelet smear Blood', 145],
 ['urine mucous Urine', 110],
 ['absolute eosinophil count Blood', 103],
 ['absolute neutrophil count Blood', 103],
 ['absolute basophil count Blood', 103],
 ['absolute lymphocyte count Blood', 103],
 ['absolute monocyte count Blood', 103],
 ['immature granulocytes Blood', 97],
 ['hyaline casts Urine', 72],
 ['vancomycin Blood', 56],
 ['creatine kinase (ck) Blood', 53],
 ['length of urine collection Urine', 43],
 ['% hemoglobin a1c Blood', 43],
 ['hypochromia Blood', 39],
 ['macrocytes Blood', 39],
 ['microcytes Blood', 39],
 ['anisocytosis Blood', 39],
 ['poikilocytosis Blood', 39],
 ['polychromasia Blood', 39],
 ['creatine kinase mb isoenzyme Blood', 38],
 ['required o2 Blood', 36],
 ['alveolar-arterial gradient Blood', 36],
 ['bands Blood', 35],
 ['eag Blood', 30],
 ['myelocytes Blood', 28],
 ['metamyelocytes Blood', 28],
 ['atypical lymphocytes Blood', 28],
 ['hepatitis c virus antibody Blood', 27],
 ['transitional epithelial cells Urine', 26],
 ['troponin t Blood', 25],
 ['creatinine urine Urine', 24],
 ['o2 flow Blood', 23],
 ['thyroid stimulating hormone Blood', 22],
 ['calculated bicarbonate whole blood Blood', 22],
 ['sodium urine Urine', 20],
 ['hepatitis b surface antigen Blood', 18],
 ['osmolality urine Urine', 17],
 ['potassium urine Urine', 17],
 ['echinocytes Blood', 14],
 ['hiv screen Blood', 14],
 ['amorphous crystals Urine', 14],
 ['chloride urine Urine', 14],
 ['nucleated red cells Blood', 13],
 ['ovalocytes Blood', 12],
 ['ck-mb index Blood', 12],
 ['urea nitrogen urine Urine', 12],
 ['uhold Urine', 9],
 ['bilirubin indirect Blood', 9],
 ['bilirubin direct Blood', 9],
 ['uric acid Blood', 7],
 ['thyroxine (t4) Blood', 7],
 ['cortisol Blood', 6],
 ['reticulocyte count automated Blood', 6],
 ['hepatitis b virus core antibody Blood', 6],
 ['total protein urine Urine', 6],
 ['hepatitis b surface antibody Blood', 6],
 ['inpatient hematology/oncology smear Blood', 6],
 ['iron Blood', 6],
 ['protein/creatinine ratio Urine', 6],
 ['schistocytes Blood', 5],
 ['triiodothyronine (t3) Blood', 5],
 ['granular casts Urine', 5],
 ['phenytoin Blood', 5],
 ['vitamin b12 Blood', 4],
 ['hpe1 Blood', 4],
 ['arch-1 Blood', 4],
 ['transferrin Blood', 4],
 ['c-reactive protein Blood', 4],
 ['teardrop cells Blood', 4],
 ['haptoglobin Blood', 4],
 ['iron binding capacity total Blood', 4],
 ['albumin urine Urine', 3],
 ['albumin/creatinine urine Urine', 3],
 ['uric acid crystals Urine', 3],
 ['carboxyhemoglobin Blood', 3],
 ['folate Blood', 3],
 ['hpe7 Blood', 3],
 ['ferritin Blood', 3],
 ['digoxin Blood', 3],
 ['sedimentation rate Blood', 3],
 ['lithium Blood', 3],
 ['large platelets Blood', 2],
 ['triglycerides Blood', 2],
 ['osmolality measured Blood', 2],
 ['calculated thyroxine (t4) index Blood', 2],
 ['calcium urine Urine', 2],
 ['wbc clumps Urine', 2],
 ['pencil cells Blood', 2],
 ['uric acid urine Urine', 2],
 ['cholesterol ratio (total/hdl) Blood', 2],
 ['anticardiolipin antibody igg Blood', 2],
 ['ntprobnp Blood', 2],
 ['magnesium urine Urine', 2],
 ['calculated tbg Blood', 2],
 ['parathyroid hormone Blood', 2],
 ['ammonia Blood', 2],
 ['uptake ratio Blood', 2],
 ['cyclosporin Blood', 2],
 ['eosinophils Urine', 2],
 ['thyroxine (t4) free Blood', 2],
 ['cholesterol total Blood', 2],
 ['cholesterol hdl Blood', 2],
 ['cholesterol ldl calculated Blood', 2],
 ['anticardiolipin antibody igm Blood', 2],
 ['eosinophils Ascites', 1],
 ['joint crystals birefringence Joint Fluid', 1],
 ['total protein pleural Pleural', 1],
 ['rbc clumps Urine', 1],
 ['other cells Blood', 1],
 ['lymphocytes Other Body Fluid', 1],
 ['total nucleated cells other Other Body Fluid', 1],
 ['polys Ascites', 1],
 ['mesothelial cell Ascites', 1],
 ['pappenheimer bodies Blood', 1],
 ['methemoglobin Blood', 1],
 ['lactate dehydrogenase pleural Pleural', 1],
 ['free kappa/free lambda ratio Blood', 1],
 ['joint crystals comment Joint Fluid', 1],
 ['platelet clumps Blood', 1],
 ['globulin Blood', 1],
 ['sperm Urine', 1],
 ['phosphate urine Urine', 1],
 ['total nucleated cells ascites Ascites', 1],
 ['polys Other Body Fluid', 1],
 ['monocytes Joint Fluid', 1],
 ['hpe2 Blood', 1],
 ['joint crystals number Joint Fluid', 1],
 ['monocytes Ascites', 1],
 ['joint crystals location Joint Fluid', 1],
 ['lymphocytes Ascites', 1],
 ['free lambda Blood', 1],
 ['gentamicin Blood', 1],
 ['free kappa Blood', 1],
 ['calcium oxalate crystals Urine', 1],
 ['prostate specific antigen Blood', 1],
 ['cellular cast Urine', 1],
 ['luc Blood', 1],
 ['double stranded dna Blood', 1],
 ['protein total Blood', 1],
 ['monos Other Body Fluid', 1],
 ['bicarbonate urine Urine', 1],
 ['other Ascites', 1],
 ['polys Joint Fluid', 1],
 ['rbc ascites Ascites', 1],
 ['hpe3 Blood', 1],
 ['macrophage Other Body Fluid', 1],
 ['anti-nuclear antibody Blood', 1],
 ['glucose pleural Pleural', 1],
 ['total nucleated cells joint Joint Fluid', 1],
 ['hepatitis a virus antibody Blood', 1],
 ['rbc other fluid Other Body Fluid', 1],
 ['rheumatoid factor Blood', 1],
 ['bite cells Blood', 1],
 ['lymphocytes Joint Fluid', 1],
 ['joint crystals shape Joint Fluid', 1],
 ['rbc joint fluid Joint Fluid', 1],
 ['renal epithelial cells Urine', 1]]

In [52]:
groupedlist = []
groupitems = []
index, total = 0, 0
for item, count in freqevents.values.tolist():
    total += count
    if total > n: break
    groupedlist.append([index, item])
    groupitems.append(item)
    index += 1

In [53]:
len(groupitems)

25

In [54]:
groupitems

['glucose Blood',
 'hemoglobin Blood',
 'ph Blood',
 'calculated total co2 Blood',
 'po2 Blood',
 'base excess Blood',
 'pco2 Blood',
 'hematocrit Blood',
 'potassium whole blood Blood',
 'potassium Blood',
 'chloride Blood',
 'platelet count Blood',
 'free calcium Blood',
 'sodium Blood',
 'white blood cells Blood',
 'mchc Blood',
 'mch Blood',
 'mcv Blood',
 'red blood cells Blood',
 'rdw Blood',
 'creatinine Blood',
 'urea nitrogen Blood',
 'bicarbonate Blood',
 'anion gap Blood',
 'magnesium Blood']

In [35]:
df = pd.DataFrame(groupedlist)
df.to_csv('filterkeep80per.csv', index=False)

In [33]:
df

NameError: name 'df' is not defined

In [41]:
newdata = data[data["label1"].isin(groupitems)]

In [44]:
newdata.to_csv('filterkeep80perdata.csv', index=False)